h1{
	color: blue;
}

p{
	color: orange;
}

body {
	background-image: url(https://images.homify.com/images/a_0,c_fill,f_auto,h_900,q_auto,w_1920/v1438913048/p/photo/image/417400/1/classic-kitchen-photos-by-harvey-jones-kitchens-i-homify.jpg);
	background-color: #cccccc;
}
